/base
/build
/FPS_GL.elf
/FPS_GL.lst
/FPS_GL.map
/FPS_GL.nacp
/FPS_GL.nro
/FPS_GL_Debugger.gpr
/FPS_GL_Debugger.rep
FPS_GL_Debugger.lock~
FPS_GL_Debugger.lock
AlmightyMetalWare_Switch.elf
AlmightyMetalWare_Switch.nacp
AlmightyMetalWare_Switch.nro
romfs/

